{% extends 'Admin/content.html.twig' %}

{% block title %}Account List{% endblock %}

{% block content %}

<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_main')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Accounts</li>
        </ol>
    </nav>
</div>
<div class="col-md-12 mt-2">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="pull-left mr-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body alert-warning">
                        <p class="card-text text-center">
                            <strong>{{ total }}</strong> Total Accounts
                        </p>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <div class="card" style="width: 18rem;">
                    <div class="card-body alert-info">
                        <p class="card-text text-center">
                            <strong>{{ active }}</strong> Total Active Accounts
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#createUser">
            Create Account 
            </button>

            <!-- Modal -->
            <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="createUserLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createUserLabel">
                                Create New Account
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ path('admin_account_create') }}">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="name">Name <b style="color:red;">*</b></label>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Company/Business Name" required />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="website">Website</label>
                                        <input type="text" class="form-control" id="website" name="website" placeholder="https://example.com" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="allowedDomains">Allowed Domains</label>
                                        <input type="text" class="form-control" id="allowedDomains" name="allowedDomains" placeholder="example.com, example.net" />
                                        <small class="text-muted"> Only emails with the domains listed will be allowed to have accounts. <br>Leave blank to allow all domains.</small>
                                    </div>
                          
                                    <small>Next: Select the new account and create new users</small>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Create Account</button>
                                </div>
                            </form>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-sm table-responsive-md-12 table-stripped">
        <thead class="thead-dark small text-center">
            <th>Account</th>
            <th>Created</th>
            <th>Active</th>
            <th>Notes</th>
            <th>Users</th>
        </thead>
        <tbody>
        {% for a in accounts %}
            <tr>
                <td><a title="Edit Account" alt="Edit Account" href="{{ path('admin_account_edit', {'account':a.id} )}}">{{ a.name }}</a></td>
                <td>{{ a.createdAt|date('F jS \\a\\t g:ia') }} </td>
                <td>{{ a.isActive ? 'True' : 'False' }} </td>
                <td>{{ a.accountNotes|length }} </td>
                <td><a title="List Users" alt="List Users" href="{{ path('admin_account_user_list', {'account':a.id} )}}">{{ a.users | length }} user(s)</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}