{% extends 'Admin/content.html.twig' %}

{% block title %}Account User List{% endblock %}

{% block content %}

<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_main')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_account_list')}}">Accounts</a></li>
            {% if account is defined %}
                <li class="breadcrumb-item"><a href="{{ path('admin_account_edit', {'account': account.id} )}}">{{ account.name }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>
</div>
<div class="col-md-12 mt-2">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-md-8 mb-2">  
             <div class="pull-left mr-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body alert-warning">
                        <p class="card-text text-center">
                            <strong>{{ total }}</strong> Total Users
                        </p>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <div class="card" style="width: 18rem;">
                    <div class="card-body alert-info">
                        <p class="card-text text-center">
                            <strong>{{ active }}</strong> Total Active Users
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {% if account is defined %}
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#createUser">
            Create User 
            </button>

            <!-- Modal -->
            <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="createUserLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createUserLabel">
                                Create New User
                                <br/>
                                <span style="font-size:0.7em;" class="text-muted">Account ID: {{ account.id|default('') }} </span> 
                                <br>
                                <span style="font-size:0.7em;" class="text-muted">Account Name: {{ account.name|default('') }}</span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ path('admin_account_user_add', {'account':account.id}) }}">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="email">Email Address</label>
                                        <input onchange="checkUnique('email')" class="form-control" type="email" id="email" name="email" placeholder="Email Address must be unique" required />
                                        <div class="" id="emailResult" name="emailResult"></div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="role">Permission Role</label>
                                        <select class="form-control" id="role" name="role" required >
                                            <option value="ROLE_USER">User</option>
                                            <option value="ROLE_ADMIN">Admin</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName">
                                    </div>

                                    <small>Note: User will receive an email to activate and set their password</small>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Create User</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
   

    <table class="table table-responsive-md table-sm table-striped table-bordered">
        <thead class="thead-dark small text-center h6">
            <th>Name</th>
            <th>Email</th>
            <th>Created</th>
            <th>Active</th>
            <th>Verified</th>
            <th>Last Login</th>
            <th>Admin</th>
            <th>Notes</th>
            <th>Company</th>
        </thead>
        <tbody>
        {% for u in users %}
            <tr class="text-center">
                <td>
                    {% if u.firstName and u.lastName %}
                    <a href="{{ path('admin_account_user_edit', {'account':u.account.id, 'user':u.id}) }}" title="View/Edit User" alt="View/Edit User">
                        {{ u.firstName }} {{ u.lastName }}
                    </a>
                    {% else %}
                        <span class="text-muted small">n/a</span>
                    {% endif %}
                </td>
                <td><a href="{{ path('admin_account_user_edit', {'account':u.account.id, 'user':u.id}) }}" title="View/Edit User" alt="View/Edit User">{{ u.email }}</a></td>
                <td>{{ u.createdAt|date('F jS \\a\\t g:ia') }} </td>
                <td>{{ u.isActive ? 'True' : 'False' }} </td>
                <td>{{ u.isVerified ? 'True' : 'False' }}</td>
                <td>{{ u.lastLoginAt|default('')|date('F jS \\a\\t g:ia') }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in u.roles %}
                        True
                    {% else %}
                        False
                    {% endif %}
                </td> 
                <td>
                    {{ u.userNotes|length }}
                </td>
                <td>
                    <a href="{{ path('admin_account_user_list', {'account':u.account.id}) }}">{{ u.account.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if account is defined %}
    <script type="text/javascript">
    function checkUnique(type) {
        var x = document.getElementById(type).value;
        switch(type) {
            case "username":
                var path = "{{ path('admin_account_username_check', {'account':account.id, 'username':'var'}) }}";
                var result = 'usernameResult';
            break;

            case "email":
                var path = "{{ path('admin_account_email_check', {'account':account.id, 'email':'var'} )}}";
                var result = 'emailResult';
            break;
        }
        if (x != '') {
            $.get(path.replace('var', x), function(data) {
                if (data.data.error != null) {
                    $('#' + result).html('<span style="font-size:x-small;color:red;">'+data.data.error+'</span>');
                } else {
                    $('#' + result).html('<span style="font-size:x-small;color:green;">'+data.data.success+'</span>');
                }
                console.log(data.data.error);
            });
        } else {
            $('#' + result).html('');
        }
    }
    </script>
    {% endif %}
{% endblock %}