{% extends 'Admin/content.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}

{% if u.isDeleted == 1 %}{% set disabled = 'disabled' %}{% else %}{% set disabled = '' %}{% endif %}


<div class="col-md-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin_main')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_account_list')}}">Accounts</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_account_edit', {'account': u.account.id} )}}">{{ u.account.name }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_account_user_list', {'account': u.account.id})}}">Users</a>
            <li class="breadcrumb-item active" aria-current="page">{{ u.firstName|default('') }} {{ u.lastName|default('') }}</li>
        </ol>
    </nav>
</div>

<div class="col-md-12 mt-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <form method="POST">
    <div class="form-row">
        <div class="form-group col-md-12">Customer ID: <b>{{ u.id }}</b></div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="{{ u.firstName|default('') }}" placeholder="First Name"  {{ disabled }} >
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value="{{ u.lastName|default('') }}" placeholder="Last Name"  {{ disabled }} >
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ u.email }}" placeholder="Email"  {{ disabled }} >
        </div>
        <div class="form-group col-md-6">
            <label for="role">Access Role</label>
            <select id="role" name="role" class="form-control" {{ disabled }} >
                <option value="ROLE_USER" {% if u.roles.0 == 'ROLE_USER' %}selected{% endif %}>User</option>
                <option value="ROLE_ADMIN" {% if u.roles.0 == 'ROLE_ADMIN' %}selected{% endif %}>Admin</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select id="status" name="isActive" class="form-control"  {{ disabled }} >
                {% for i in 0..1 %}
                    <option value="{{ i }}" {% if u.isActive == i %}selected{% endif %}>{% if i == 0 %}InActive{% else %}Active{% endif %}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="verified">Verified</label>
            <select id="verified" name="isVerified" class="form-control" {{ disabled }} >
                {% for i in 0..1 %}
                    <option value="{{ i }}" {% if u.isVerified == i %}selected{% endif %}>{% if i == 0 %}UnVerified{% else %}Verified{% endif %}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-12">
            <label for="account">Account ID</label>
            <input type="text" class="form-control" id="account" name="account" value="{{ u.account.id }}" placeholder="Account Id ...  6893890e-f727-4368-86d7-2097be317887" {{ disabled }} />
        </div>
    </div>

    <button type="submit" class="btn btn-primary" {{ disabled }}>{% if disabled == 'disabled' %}User Deleted{% else %}Update User{% endif %}</button>
   
    {% if u.isDeleted %}
        <a href="{{ path('admin_account_user_undel', {'account':u.account.id,'user':u.id}) }}" class="btn btn-success">Un-Delete "<i>{{ u.username }}</i>"?</a>
    {% else %}
        <a href="{{ path('admin_account_user_del', {'account':u.account.id,'user':u.id}) }}" class="btn btn-danger">Delete "<i>{{ u.username }}</i>"?</a>
    {% endif %}
    </form>
   
</div>


<div class="col-md-12 mt-5 mb-5">
    <form method="POST" action="{{ path('admin_account_user_note_add',{'account':u.account.id, 'user':u.id}) }}">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="note">Note/Comment:</label>
            <textarea class="form-control" rows="3" id="note" name="note" required></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="followup" class="small">Requires Follow Up with Customer</label>
            <input type="checkbox" id="followup" name="followup" value="1"/>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add Note</button>
   
    </form>
</div>

<hr/>

<div class="col-md-12">
{% if u.usernotes|length > 0 %}
    <table class="table table-responsive-md table-sm table-striped table-bordered">
        <thead class="small text-center thead-dark">
            <th>Action</th>
            <th>Note</th>
        </thead>
        <tbody>
    {% for note in u.usernotes %}

            <tr class="text-left">
                <td class="small text-center align-middle">{% if note.requireFollowUp %}Follow Up{% endif %}</td>
                <td class="alert alert-dark" colspan="2">{{ note.note }}</td>
            </tr>
            <tr class="small text-right">
                <td colspan="2">
                 <i>{{ note.createdAt|date('D F jS \\a\\t g:ia') }}</i>
                by  <a href="">{{ note.createdBy.username }}</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}