{% extends 'Web/content.html.twig' %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8 mt-5">

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail">Email</label>
        <input type="text" value="{{ last_email }}" name="email" id="inputEmail" class="form-control" required autofocus>
        
        <label class="mt-2" for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label class="small" for="remember_me">Keep me logged in</label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <button class="btn btn-sm btn-primary mt-2" type="submit">
            Sign in
        </button>
    </form>

    <a class="small" href="{{ path('app_resetpass') }}">Forgot password?</a>

    {% if allow_self_register == 'true' %}
    <div class="small mt-5 mb-5">
        Not registered yet? <a href="{{ path('app_signup') }}">Create an account</a>
    </div>
    {% endif %}

</div>
<div class="col-md-2"></div>

{% endblock %}
