{% extends 'Account/base.html.twig' %}

{% block body %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="{{ path('account_dashboard') }}">{{ site_name }}</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_main') }}">Admin</a>
        </li>
        {% endif %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('account_api_list' )}}">API Keys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ path('account_search') }}">
            <input class="form-control mr-sm-2" type="search" name="q" id="q" value="{{ q|default('') }}" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        
        {% block content %} {% endblock %}
        
    </div>
</div>

{% endblock %}