
Hi there, {{ name }}

An account has been created for you at {{ site_name }}. To activate the account and set your password, click the link below.
Note the link is only good for {{ tokenTTL }} hours.

{{ tokenLink }}

If you didn't request this, or are unsure what this is please reach out to {{ mailerFromAddress }}.


~ The {{ site_name }} Team.
