{% extends 'Admin/base.html.twig' %}

{% block body %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="{{ path('account_dashboard') }}">{{ site_name }}</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin_main') }}">Admin Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('admin_account_list') }}">Accounts</a>
                    <a class="dropdown-item" href="{{ path('admin_user_list') }}">Users</a>
                    <a class="dropdown-item" href="{{ path('admin_api_list') }}">API Keys</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('admin_test_index') }}">Check Settings</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ path('admin_search') }}">
            <input class="form-control mr-sm-2" type="search" id="q" name="q" value="{{ q|default('') }}" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        
        {% block content %} {% endblock %}
        
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}