{% extends 'Admin/content.html.twig' %}

{% block content %}

<div class="col-md-12 mt-2">
    <div class="pull-left mr-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body alert-success">
                <p class="card-text text-left">
                    <strong>{{ totalUsers }}</strong> Total Users<br/>
                    <strong>{{ totalUsersActive }}</strong> Total Active Users
                </p>
                <a href="{{ path('admin_user_list') }}" class="btn btn-primary">List All Users</a>
            </div>
        </div>
    </div>

    <div class="pull-left">
        <div class="card" style="width: 18rem;">
            <div class="card-body alert-info">
                <p class="card-text text-left">
                    <strong>{{ totalAccounts }}</strong> Total Accounts <br/>
                    <strong>{{ totalAccountsActive }}</strong> Total Active Accounts
                </p>
                <a href="{{ path('admin_account_list') }}" class="btn btn-primary">List All Accounts</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
