{% extends 'Web/base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        
        {% block content %} {% endblock %}
        
    </div>
</div>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center small">
            <a href="{{ path('index') }}">Home</a> |
            <a href="{{ path('tos') }}">Terms of Service</a> | 
            <a href="{{ path('privacy') }}">Privacy Policy</a> | 
            <a href="{{ path('contact') }}">Contact</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}