{% extends 'Admin/content.html.twig' %}

{% block title %}API List{% endblock %}

{% block content %}

<div class="col-md-12 mt-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div class="row">
        
    </div>

    <table class="table table-bordered table-sm table-responsive-md-12 table-stripped">
        <thead class="thead-dark small text-center">
            <th>Account</th>
            <th>Name</th>
            <th>API Key</th>
            <th>Status</th>
            <th>Created</th>
        </thead>
        <tbody>
        {% for k in keys %}
            <tr>
                <td>
                    <a href="{{ path('admin_account_edit', {'account':k.account.id}) }}">{{ k.account.name }}</a>
                </td>
                <td>{{ k.name }}</td>
                <td>{{ k.token|truncate(20) }} <span class="text-muted">****************************</span></td>
                <td>{% if k.isActive %}Enabled{% else %}Disabled{% endif %}</td>
                <td>{{ k.createdAt|date('F jS \\a\\t g:ia') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}