{% extends 'Admin/content.html.twig' %}

{% block title %}Account List{% endblock %}

{% block content %}


<div class="col-md-2"></div>
<div class="col-md-8 mt-5 ">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
  
        <div class="col-md-12">  
            <p class="alert alert-primary "> 
                <strong>Symfony tip:</strong> 
                Run <span class="m-2" style="font-size:0.85em;background:lightgrey;color:red;"> bin/console debug:container --env-vars </span> 
                from the command line will show you about the same, but also list out the default values, if any. 
                The optional settings and testing of email and SMS/MMS is what this page really provides.
            </p>
        </div>

        <div class="col-md-6  border">
            <h3>Required Settings</h3>
            <p class="h6 text-muted">Missing or incorrect values will effect core functionality.</p>
            {% if settings.data.require_environment_keys.errors | length > 0 %}
                <div class="alert alert-danger">
                    <h4>Errors</h4>
                    <ul>
                    {% for e in settings.data.require_environment_keys.errors %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <h4>No Errors!</h4>
                </div>
            {% endif %}

        
            {% if settings.data.require_environment_keys.warnings | length > 0 %}
                <div class="alert alert-warning">
                    <h4>Warnings</h4>
                    <ul>
                    {% for w in settings.data.require_environment_keys.warnings %}
                        <li>{{ w }}</li>
                    {% endfor %}
                    </ul>
                </div>

            {% else %}
                <div class="alert alert-info">
                    <h4>No Warnings!</h4>
                </div>
            {% endif %}

        </div>

            
        <div class="col-md-6">
            <h3>Optional Settings</h3>
            <p class="h6 text-muted">{{ settings.data.optional_environment_keys.message }}</p>
            
            {% if settings.data.optional_environment_keys.warnings | length > 0 %}
                <div class="alert alert-warning">
                    <h4>Warnings</h4>
                    <ul>
                    {% for w in settings.data.optional_environment_keys.warnings %}
                        <li>{{ w }}</li>
                    {% endfor %}
                    </ul>
                </div>

            {% else %}
                <div class="alert alert-info">
                    <h4>No Warnings!</h4>
                </div>

                <div class="mt-5 mb-2 border-top border-round">
                    <h4>Send Test Email</h4>
                    <span class="text-muted">From address will be from your settings: <b>{{ mailer_from_address }}</b></span>
                    <form method="POST" action="{{ path('admin_test_mail') }}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="toAddress">To Email Address:</label>
                                <input class="form-control" type="email" name="toAddress" id="toAddress" placeholder="user@example.com" required />
                            </div>
                        </div>

                        <div class="form-row">
                            <button type="submit" class="btn btn-primary">Send Email</button>
                        </div>
                    </form>
                </div>

                <div class="mt-5 mb-5 border-top">
                    <h4 class="mt-2">Send Test SMS</h4>
                    <form method="POST" action="{{ path('admin_test_message') }}">
                        <div class="form-row">
                            <label for="fromNumber">From Number <span class="text-muted">has to be a Flowroute Number</span></label>
                            <input class="form-control" type="text" id="fromNumber" name="fromNumber" placeholder="+12065551234" required />
                        </div>
                        <div class="form-row mt-2">
                            <label for="toNumber">To Number <span class="text-muted">can be any number</label>
                            <input class="form-control" type="text" id="toNumber" name="toNumber" placeholder="+13604441234" required />
                        </div>
                        <div class="form-row mt-2">
                            <label for="type">MMS or SMS</label>
                            <select class="form-control" name="type" id="type">
                                <option value="MMS" selected>MMS (text message and default image)</option>
                                <option value="SMS">SMS (just a text message)</option>
                            </select>
                        </div>
                        <div class="form-row mt-2">
                            <button type="submit" class="btn btn-primary">Send Text</button>
                        </div>
                    </form>
                </div>
            {% endif %}
            
        </div>
    </div>


</div>
<div class="col-md-2"></div>
{% endblock %}